`<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- 페이지 로딩속도를 높이기위해 css는 header, js는 footer(bootstrap.js가 제이쿼리에 의존)-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!--<script src="/static.js.app.index.js"></script>-->
</body>
</html>